# From Pandas-wan to Pandas-master

Pandasâ€™ core internals, performances and code styles

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
def log_head(df, head_count=10):
    print(df.head(head_count))
    return df

def log_columns(df):
    print(df.columns)
    return df

def log_shape(df):
    print(f'shape = {df.shape}')
    return df

# Data

In [8]:
#data_path = './data'
data_path = 'C:\\Users\\lining\\Desktop\\myjob\\My_SQL\\suicide-rates-overview-1985-to-2016'
df = (pd.read_csv(filepath_or_buffer=os.path.join(data_path, 'suicide.csv'))
      .pipe(log_head, head_count=1)
      .rename(columns={'suicides/100k pop' : 'suicides_per_100k',
                       ' gdp_for_year ($) ' : 'gdp_year', 
                       'gdp_per_capita ($)' : 'gdp_capita',
                       'country-year' : 'country_year'})
      .assign(gdp_year=lambda _df: _df['gdp_year'].str.replace(',','').astype(np.int64))
     )

df.head(10)

   country  year   sex          age  suicides_no  population  \
0  Albania  1987  male  15-24 years           21      312900

   suicides/100k pop country-year  HDI for year  gdp_for_year ($)   \
0               6.71  Albania1987           NaN      2,156,624,900

   gdp_per_capita ($)    generation
0                 796  Generation X

,country,year,sex,age,suicides_no,population,suicides_per_100k,country_year,HDI for year,gdp_year,gdp_capita,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,2156624900,796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,2156624900,796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,2156624900,796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,2156624900,796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,2156624900,796,Boomers
5,Albania,1987,female,75+ years,1,35600,2.81,Albania1987,NaN,2156624900,796,G.I. Generation
6,Albania,1987,female,35-54 years,6,278800,2.15,Albania1987,NaN,2156624900,796,Silent
7,Albania,1987,female,25-34 years,4,257200,1.56,Albania1987,NaN,2156624900,796,Boomers
8,Albania,1987,male,55-74 years,1,137500,0.73,Albania1987,NaN,2156624900,796,G.I. Generation
9,Albania,1987,female,5-14 years,0,311000,0.00,Albania1987,NaN,2156624900,796,Generation X

In [9]:
df.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides_per_100k', 'country_year', 'HDI for year', 'gdp_year',
       'gdp_capita', 'generation'],
      dtype='object')

In [10]:
df.shape

(27820, 12)

In [11]:
df['country'].nunique()

101

In [12]:
df['country'].unique()[:10]

array(['Albania', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain'],
      dtype=object)

In [13]:
df['generation'].unique()

array(['Generation X', 'Silent', 'G.I. Generation', 'Boomers',
       'Millenials', 'Generation Z'], dtype=object)

In [14]:
df.describe(include='all')

,country,year,sex,age,suicides_no,population,suicides_per_100k,country_year,HDI for year,gdp_year,gdp_capita,generation
count,27820,27820.000000,27820,27820,27820.000000,2.782000e+04,27820.000000,27820,8364.000000,2.782000e+04,27820.000000,27820
unique,101,NaN,2,6,NaN,NaN,NaN,2321,NaN,NaN,NaN,6
top,Netherlands,NaN,male,55-74 years,NaN,NaN,NaN,Australia1985,NaN,NaN,NaN,Generation X
freq,382,NaN,13910,4642,NaN,NaN,NaN,12,NaN,NaN,NaN,6408
mean,NaN,2001.258375,NaN,NaN,242.574407,1.844794e+06,12.816097,NaN,0.776601,4.455810e+11,16866.464414,NaN
std,NaN,8.469055,NaN,NaN,902.047917,3.911779e+06,18.961511,NaN,0.093367,1.453610e+12,18887.576472,NaN
min,NaN,1985.000000,NaN,NaN,0.000000,2.780000e+02,0.000000,NaN,0.483000,4.691962e+07,251.000000,NaN
25%,NaN,1995.000000,NaN,NaN,3.000000,9.749850e+04,0.920000,NaN,0.713000,8.985353e+09,3447.000000,NaN
50%,NaN,2002.000000,NaN,NaN,25.000000,4.301500e+05,5.990000,NaN,0.779000,4.811469e+10,9372.000000,NaN
75%,NaN,2008.000000,NaN,NaN,131.000000,1.486143e+06,16.620000,NaN,0.855000,2.602024e+11,24874.000000,NaN
max,NaN,2016.000000,NaN,NaN,22338.000000,4.380521e+07,224.970000,NaN,0.944000,1.812071e+13,126352.000000,NaN

In [15]:
df.dtypes

country               object
year                   int64
sex                   object
age                   object
suicides_no            int64
population             int64
suicides_per_100k    float64
country_year          object
HDI for year         float64
gdp_year               int64
gdp_capita             int64
generation            object
dtype: object

# Memory optimization

In [16]:
def mem_usage(df):
    return f'{df.memory_usage(deep=True).sum() / 1024 ** 2 : 3.2f} MB'

def convert_df(df):
    return df.astype({
        col: 'category' for col in df.columns 
        if df[col].nunique() / df[col].shape[0] < 0.5})

In [17]:
# memory optimization
print(mem_usage(df))
print(mem_usage(df.set_index(['country', 'year', 'sex', 'age'])))
print(mem_usage(convert_df(df)))
print(mem_usage(convert_df(df.set_index(['country', 'year', 'sex', 'age']))))

 10.28 MB
 5.00 MB
 1.40 MB
 1.40 MB

# Indexing

In [18]:
%%time
mi_df = df.set_index(['country', 'year', 'sex', 'age']).sort_index()

Wall time: 133 ms

In [19]:
mi_df.query('country == "Albania" & year == 1987').head(10)

                                 suicides_no  population  suicides_per_100k  \
country year sex    age
Albania 1987 female 15-24 years           14      289700               4.83
                    25-34 years            4      257200               1.56
                    35-54 years            6      278800               2.15
                    5-14 years             0      311000               0.00
                    55-74 years            0      144600               0.00
                    75+ years              1       35600               2.81
             male   15-24 years           21      312900               6.71
                    25-34 years            9      274300               3.28
                    35-54 years           16      308000               5.19
                    5-14 years             0      338200               0.00

                                country_year  HDI for year    gdp_year  \
country year sex    age
Albania 1987 female 15-24 years  Albania1987           NaN  2156624900
                    25-34 years  Albania1987           NaN  2156624900
                    35-54 years  Albania1987           NaN  2156624900
                    5-14 years   Albania1987           NaN  2156624900
                    55-74 years  Albania1987           NaN  2156624900
                    75+ years    Albania1987           NaN  2156624900
             male   15-24 years  Albania1987           NaN  2156624900
                    25-34 years  Albania1987           NaN  2156624900
                    35-54 years  Albania1987           NaN  2156624900
                    5-14 years   Albania1987           NaN  2156624900

                                 gdp_capita       generation
country year sex    age
Albania 1987 female 15-24 years         796     Generation X
                    25-34 years         796          Boomers
                    35-54 years         796           Silent
                    5-14 years          796     Generation X
                    55-74 years         796  G.I. Generation
                    75+ years           796  G.I. Generation
             male   15-24 years         796     Generation X
                    25-34 years         796          Boomers
                    35-54 years         796           Silent
                    5-14 years          796     Generation X

In [20]:
%%time
df.query('country == "Albania" and year == 1987 and sex == "male" and age == "25-34 years"')

Wall time: 17 ms

,country,year,sex,age,suicides_no,population,suicides_per_100k,country_year,HDI for year,gdp_year,gdp_capita,generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,2156624900,796,Boomers

In [21]:
%%time
mi_df.loc['Albania', 1987, 'male', '25-34 years']

Wall time: 4.98 ms

suicides_no                    9
population                274300
suicides_per_100k           3.28
country_year         Albania1987
HDI for year                 NaN
gdp_year              2156624900
gdp_capita                   796
generation               Boomers
Name: (Albania, 1987, male, 25-34 years), dtype: object

In [22]:
%%time
mi_df.query('country == "Albania" and year == 1987 and sex == "male" and age == "25-34 years"')

Wall time: 26.9 ms

,,,,suicides_no,population,suicides_per_100k,country_year,HDI for year,gdp_year,gdp_capita,generation
country,year,sex,age,,,,,,,,
Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,2156624900,796,Boomers

In [23]:
%%time
mi_df.sort_index().head(10)

Wall time: 76.8 ms

                                 suicides_no  population  suicides_per_100k  \
country year sex    age
Albania 1987 female 15-24 years           14      289700               4.83
                    25-34 years            4      257200               1.56
                    35-54 years            6      278800               2.15
                    5-14 years             0      311000               0.00
                    55-74 years            0      144600               0.00
                    75+ years              1       35600               2.81
             male   15-24 years           21      312900               6.71
                    25-34 years            9      274300               3.28
                    35-54 years           16      308000               5.19
                    5-14 years             0      338200               0.00

                                country_year  HDI for year    gdp_year  \
country year sex    age
Albania 1987 female 15-24 years  Albania1987           NaN  2156624900
                    25-34 years  Albania1987           NaN  2156624900
                    35-54 years  Albania1987           NaN  2156624900
                    5-14 years   Albania1987           NaN  2156624900
                    55-74 years  Albania1987           NaN  2156624900
                    75+ years    Albania1987           NaN  2156624900
             male   15-24 years  Albania1987           NaN  2156624900
                    25-34 years  Albania1987           NaN  2156624900
                    35-54 years  Albania1987           NaN  2156624900
                    5-14 years   Albania1987           NaN  2156624900

                                 gdp_capita       generation
country year sex    age
Albania 1987 female 15-24 years         796     Generation X
                    25-34 years         796          Boomers
                    35-54 years         796           Silent
                    5-14 years          796     Generation X
                    55-74 years         796  G.I. Generation
                    75+ years           796  G.I. Generation
             male   15-24 years         796     Generation X
                    25-34 years         796          Boomers
                    35-54 years         796           Silent
                    5-14 years          796     Generation X

In [24]:
df.index.is_monotonic

True

In [25]:
mi_df.index.is_monotonic

True

In [26]:
# Indexes are not necessarily unique keys
(pd.DataFrame({'a':range(2), 'b': range(2)}, index=['a', 'a'])
 .loc['a']
)

   a  b
a  0  0
a  1  1

# Method chaining

In [27]:
%%time
# Validation of generations
(df
 .groupby('age')
 .agg({'generation':'unique'})
 .rename(columns={'generation':'unique_generation'})
#  Recommended from v0.25
#  .agg(unique_generation=('generation': 'unique'))
)

Wall time: 26.9 ms

                                    unique_generation
age
15-24 years                [Generation X, Millenials]
25-34 years       [Boomers, Generation X, Millenials]
35-54 years           [Silent, Boomers, Generation X]
5-14 years   [Generation X, Millenials, Generation Z]
55-74 years        [G.I. Generation, Silent, Boomers]
75+ years                   [G.I. Generation, Silent]

In [28]:
%%time
# Validation of generations
(mi_df
 .groupby('age')
 .agg({'generation':'unique'})
 .rename(columns={'generation':'unique_generation'})
#  Recommended from v0.25
#  .agg(unique_generation=('generation': 'unique'))
)

Wall time: 23.9 ms

                                    unique_generation
age
15-24 years                [Generation X, Millenials]
25-34 years       [Boomers, Generation X, Millenials]
35-54 years           [Silent, Boomers, Generation X]
5-14 years   [Generation X, Millenials, Generation Z]
55-74 years        [G.I. Generation, Silent, Boomers]
75+ years                   [G.I. Generation, Silent]

In [29]:
%%time
(df
 .groupby(['country', 'year'])
 .agg({'suicides_per_100k': 'sum'})
 .rename(columns={'suicides_per_100k':'suicides_sum'})
#  Recommended from v0.25
#  .agg(suicides_sum=('suicides_per_100k': 'sum'))
 .sort_values('suicides_sum', ascending=False)
 .head(10)
)

Wall time: 19 ms

                         suicides_sum
country            year
Lithuania          1995        639.30
                   1996        595.61
Hungary            1991        575.00
Lithuania          2000        571.80
Hungary            1992        570.26
Lithuania          2001        568.98
Russian Federation 1994        567.64
Lithuania          1998        566.36
                   1997        565.44
                   1999        561.53

In [30]:
%%time
(df
 .groupby(['country', 'year'])
 .agg({'suicides_per_100k': 'sum'})
 .rename(columns={'suicides_per_100k':'suicides_sum'})
#  Recommended from v0.25
#  .agg(suicides_sum=('suicides_per_100k': 'sum'))
).nlargest(10, columns='suicides_sum')

Wall time: 18.9 ms

                         suicides_sum
country            year
Lithuania          1995        639.30
                   1996        595.61
Hungary            1991        575.00
Lithuania          2000        571.80
Hungary            1992        570.26
Lithuania          2001        568.98
Russian Federation 1994        567.64
Lithuania          1998        566.36
                   1997        565.44
                   1999        561.53

In [31]:
(mi_df
 .loc[('Switzerland', 2000)]
 .unstack('sex')
 [['suicides_no', 'population']]
)

            suicides_no      population
sex              female male     female     male
age
15-24 years          20   79     410136   426957
25-34 years          47  147     537823   530378
35-54 years         124  360    1072711  1094229
5-14 years            1    4     412273   436831
55-74 years         128  239     723750   649009
75+ years            79  152     330903   184589

In [32]:
def log_head(df, head_count=10):
    print(df.head(head_count))
    return df

def log_columns(df):
    print(df.columns)
    return df

def log_shape(df):
    print(f'shape = {df.shape}')
    return df

In [33]:
import re

In [34]:
%%time

# Validation of the `country-year` column.
(df
 .assign(valid_cy=lambda _serie: _serie.apply(
     lambda _row: re.split(r'(?=\d{4})', _row['country_year'])[1] == str(_row['year']),
     axis=1))
 .query('valid_cy == False')
 .pipe(log_shape)
)

ValueError: ('split() requires a non-empty pattern match.', 'occurred at index 0')

In [35]:
%%time

# Validation of the `country-year` column.
(mi_df
 .assign(valid_cy=lambda _serie: _serie.apply(
     lambda _row: re.split(r'(?=\d{4})', _row['country_year'])[1] == str(_row.name[1]),
     axis=1))
 .query('valid_cy == False')
 .pipe(log_shape)
)

ValueError: ('split() requires a non-empty pattern match.', 'occurred at index (Albania, 1987, female, 15-24 years)')

In [36]:
%%time
# which year, per country, had the most suicides among females
(df
 .pipe(log_shape)
 .query('sex == "female"')
 .groupby(['year', 'country'])
 .agg({'suicides_per_100k':'sum'})
 .pipe(log_shape)
 .rename(columns={'suicides_per_100k':'sum_suicides_per_100k_female'})
#  Recommended from v0.25
#  .agg(sum_suicides_per_100k_female=('suicides_per_100k': 'sum'))
 .nlargest(n=10, columns=['sum_suicides_per_100k_female'])
)

shape = (27820, 12)
shape = (2321, 1)
Wall time: 51.9 ms

                        sum_suicides_per_100k_female
year country
2009 Republic of Korea                        170.89
1989 Singapore                                163.16
1986 Singapore                                161.67
2010 Republic of Korea                        158.52
2007 Republic of Korea                        149.60
2011 Republic of Korea                        147.84
1991 Hungary                                  147.35
2008 Republic of Korea                        147.04
2000 Aruba                                    146.22
2005 Republic of Korea                        145.35

In [37]:
%%time
# which year, per country, had the most suicides among females
(mi_df
 .query('sex == "female"')
 .groupby(['year', 'country'])
 .agg({'suicides_per_100k':'sum'})
 .rename(columns={'suicides_per_100k':'sum_suicides_per_100k_female'})
#  Recommended from v0.25
#  .agg(sum_suicides_per_100k_female=('suicides_per_100k': 'sum'))
 .nlargest(n=10, columns=['sum_suicides_per_100k_female'])
)

Wall time: 27.9 ms

                        sum_suicides_per_100k_female
year country
2009 Republic of Korea                        170.89
1989 Singapore                                163.16
1986 Singapore                                161.67
2010 Republic of Korea                        158.52
2007 Republic of Korea                        149.60
2011 Republic of Korea                        147.84
1991 Hungary                                  147.35
2008 Republic of Korea                        147.04
2000 Aruba                                    146.22
2005 Republic of Korea                        145.35

In [38]:
from sklearn.preprocessing import MinMaxScaler

def norm_df(df, columns):
    return df.assign(**{col: MinMaxScaler().fit_transform(df[[col]].values.astype(float)) 
                        for col in columns})

In [39]:
# decrease in gdp correlated with increase in suicide number (is it gender related?)
for sex in ['male', 'female']:
    print(sex)
    print(
        df
        .query(f'sex == "{sex}"')
        .groupby(['country'])
        .agg({'suicides_per_100k': 'sum', 'gdp_year': 'mean'})
        .rename(columns={'suicides_per_100k':'suicides_per_100k_sum', 
                         'gdp_year': 'gdp_year_mean'})
#         Recommended in v0.25
#         .agg(suicides_per_100k=('suicides_per_100k_sum', 'sum'), 
#              gdp_year=('gdp_year_mean', 'mean'))
        .pipe(norm_df, columns=['suicides_per_100k_sum', 'gdp_year_mean'])
        .corr(method='spearman')
    )
    print('\n')

male
                       suicides_per_100k_sum  gdp_year_mean
suicides_per_100k_sum               1.000000       0.421218
gdp_year_mean                       0.421218       1.000000


female
                       suicides_per_100k_sum  gdp_year_mean
suicides_per_100k_sum               1.000000       0.452343
gdp_year_mean                       0.452343       1.000000

# Random tips

In [40]:
%%time
for row in df.iterrows(): continue

Wall time: 4.5 s

In [41]:
%%time
for tup in df.itertuples(): continue

Wall time: 127 ms

In [42]:
for tup in df.itertuples(): print(type(row));break

<class 'tuple'>