In [1]:
'''
【Pandas数据结构Series：基本概念及创建】 
'''

'\n【Pandas数据结构Series：基本概念及创建】 \n'

In [2]:
import numpy as np
import pandas as pd

In [3]:
# 作业1：分别由字典、数组的方式，创建以下要求的Series

dic = {'Jack':90,'Tom':89,'Marry':92,'Zack':65}
ar = np.array([90,89,92,76])
print('由字典创建为：\n',pd.Series(dic, dtype = np.float, name = '1'),'\n------')
print('由数组创建为：\n',pd.Series(ar, index = ['Jack','Tom','Marry','Zack'],dtype = np.float, name = '作业1'),'\n------')

由字典创建为：
 Jack     90.0
Tom      89.0
Marry    92.0
Zack     65.0
Name: 1, dtype: float64
------
由数组创建为：
 Jack     90.0
Tom      89.0
Marry    92.0
Zack     76.0
Name: 作业1, dtype: float64
------

In [4]:
'''
【  Pandas数据结构Series：索引】 

'''

'\n【  Pandas数据结构Series：索引】 \n\n'

# 创建一个Series，包含10个元素，且每个值为0-100的均匀分布随机值，index为a-j，请分别筛选出：
# ① 标签为b，c的值为多少
# ② Series中第4到6个值是哪些？
# ③ Series中大于50的值有哪些？

In [5]:
s = pd.Series(np.random.rand(10)*100, index = list('abcdefghij'))
print('创建Series为：\n', s, '\n------')
print('标签为b，c的值为:\n', s['b'], s['c'],'\n------')
print('Series中第4到6个值为:\n', s[3:6],'\n------')
print('Series中大于50的值为:\n', s[s>50],'\n------')

创建Series为：
 a    43.037848
b    50.385683
c    51.029073
d    38.613064
e    80.924935
f    82.930576
g    75.932588
h    94.099850
i    86.088410
j    81.643414
dtype: float64
------
标签为b，c的值为:
 50.38568302743393 51.02907346952812
------
Series中第4到6个值为:
 d    38.613064
e    80.924935
f    82.930576
dtype: float64
------
Series中大于50的值为:
 b    50.385683
c    51.029073
e    80.924935
f    82.930576
g    75.932588
h    94.099850
i    86.088410
j    81.643414
dtype: float64
------

In [6]:
# 1：如图创建Series，并按照要求修改得到结果

s = pd.Series(np.arange(10), index = list('abcdefghij'))
print('创建s：\n',s,'\n------')
s[['a','e','f']] = 100
s.drop('b', inplace=True)
print('s修改后：\n',s,'\n------')

创建s：
 a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int32
------
s修改后：
 a    100
c      2
d      3
e    100
f    100
g      6
h      7
i      8
j      9
dtype: int32
------

# ：已有s1，s2（值为0-10的随机数），请求出s1+s2的值

In [7]:
s1 = pd.Series(np.random.rand(5)*10,index = list('abcde'))
s2 = pd.Series(np.random.rand(5)*10,index = list('cdefg'))
print('创建s1为：\n',s1,'\n')
print('创建s2为：\n',s2,'\n------')
print('s1+s2为：\n',s1+s2,'\n------')

创建s1为：
 a    4.945030
b    9.269740
c    1.056177
d    2.698039
e    9.510785
dtype: float64

创建s2为：
 c    7.723452
d    4.472024
e    1.699465
f    4.466105
g    0.337046
dtype: float64
------
s1+s2为：
 a          NaN
b          NaN
c     8.779629
d     7.170062
e    11.210249
f          NaN
g          NaN
dtype: float64
------

In [8]:
'''
【  Pandas数据结构Dataframe：基本概念及创建】 

'''

'\n【  Pandas数据结构Dataframe：基本概念及创建】 \n\n'

# 用四种不同的方法，创建以下Dataframe（保证columns和index一致，值不做要求）

In [9]:
df1 = pd.DataFrame({'one':[1,2,3,4,5],
                   'two':[2,3,4,5,6],
                   'three':[3,4,5,6,7],
                   'four':[4,5,6,7,8]},
                  index = list('abcde'))
df2 = pd.DataFrame({'one':pd.Series([1,2,3,4,5],index = list('abcde')),
                   'two':pd.Series([2,3,4,5,6],index = list('abcde')),
                   'three':pd.Series([3,4,5,6,7],index = list('abcde')),
                   'four':pd.Series([4,5,6,7,8],index = list('abcde'))})
df3 = pd.DataFrame(np.arange(20).reshape(5,4), 
                   index = list('abcde'),
                  columns = ['one','two','three','four'])
df4 = pd.DataFrame([{'one':1,'two':2,'three':3,'four':4},
                   {'one':2,'two':3,'three':4,'four':5},
                   {'one':3,'two':4,'three':5,'four':6},
                   {'one':4,'two':5,'three':6,'four':7},
                   {'one':5,'two':6,'three':7,'four':8}],
                  index = list('abcde'))
print('结果Dataframe为：\n',df4)

结果Dataframe为：
    four  one  three  two
a     4    1      3    2
b     5    2      4    3
c     6    3      5    4
d     7    4      6    5
e     8    5      7    6

In [10]:
'''
【 Pandas数据结构Dataframe：索引】 

'''

'\n【 Pandas数据结构Dataframe：索引】 \n\n'

# ：如图创建Dataframe(4*4，值为0-100的随机数)，通过索引得到以下值
# ① 索引得到b，c列的所有值
# ② 索引得到第三第四行的数据
# ③ 按顺序索引得到two，one行的值
# ④ 索引得到大于50的值

In [11]:
df = df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print('创建Dataframe为：\n',df,'\n-------')
print('b，c列的所有值为:\n', df[['b','c']],'\n------')
print('第三第四行的值为:\n', df[2:4],'\n------')
print('按顺序索引得到two，one行的值为:\n', df.loc[['two','one']],'\n------')
print('大于50的值为:\n', df[df>50],'\n------')

创建Dataframe为：
                a          b          c          d
one    77.717988  28.763483  73.511376  62.544976
two    29.826798  22.177487  16.000314  14.815974
three  60.571784  94.294696  47.118488  90.295769
four   87.900214  55.707994  30.433344  43.212037
-------
b，c列的所有值为:
                b          c
one    28.763483  73.511376
two    22.177487  16.000314
three  94.294696  47.118488
four   55.707994  30.433344
------
第三第四行的值为:
                a          b          c          d
three  60.571784  94.294696  47.118488  90.295769
four   87.900214  55.707994  30.433344  43.212037
------
按顺序索引得到two，one行的值为:
              a          b          c          d
two  29.826798  22.177487  16.000314  14.815974
one  77.717988  28.763483  73.511376  62.544976
------
大于50的值为:
                a          b          c          d
one    77.717988        NaN  73.511376  62.544976
two          NaN        NaN        NaN        NaN
three  60.571784  94.294696        NaN  90.295769
four   87.900214  55.707994        NaN        NaN
------

In [12]:
'''
【  Pandas数据结构Dataframe：基本技巧】 

'''

'\n【  Pandas数据结构Dataframe：基本技巧】 \n\n'

# 作业1：创建一个3*3，值在0-100区间随机值的Dataframe（如图），分别按照index和第二列值大小，降序排序

In [13]:
df = pd.DataFrame(np.random.rand(3,3)*100,
                 index = ['a','b','c'],
                 columns = ['v1','v2','v3'])
print('创建Dataframe为：\n',df,'\n-------')
print('按照index降序：\n',df.sort_index(ascending = False),'\n-------')
print('按照第二列值大小降序：\n',df.sort_values(['v2'], ascending = False),'\n-------')

创建Dataframe为：
           v1         v2         v3
a  52.721705  33.529663  80.234901
b  22.869263  63.730608  53.582913
c  31.957809  77.715422  58.728339
-------
按照index降序：
           v1         v2         v3
c  31.957809  77.715422  58.728339
b  22.869263  63.730608  53.582913
a  52.721705  33.529663  80.234901
-------
按照第二列值大小降序：
           v1         v2         v3
c  31.957809  77.715422  58.728339
b  22.869263  63.730608  53.582913
a  52.721705  33.529663  80.234901
-------

#  作业2：创建一个5*2，值在0-100区间随机值的Dataframe（如图）df1，通过修改得到df2

In [15]:
df1 = pd.DataFrame(np.random.rand(5,2)*100,
                 index = ['a','b','c','d','e'],
                 columns = ['v1','v2'])
print('创建Dataframe为：\n',df1,'\n-------')
df2 = df1.T.drop('e',axis = 1)
df2['b'] = 100
print('修改后为：\n',df2,'\n-------')

创建Dataframe为：
           v1         v2
a   9.999225  52.671246
b  62.543585  14.593443
c  46.053465  28.223396
d  19.888921  15.357986
e  32.199451  49.735457
-------
修改后为：
             a    b          c          d
v1   9.999225  100  46.053465  19.888921
v2  52.671246  100  28.223396  15.357986
-------

In [16]:
'''
【  时间模块：datetime】 

'''

'\n【  时间模块：datetime】 \n\n'

# 请调用datatime模块，输出以下时间信息

In [17]:
import datetime

print('1、请输出当前时间：', datetime.datetime.now(),'\n------')
print('2、请输出时间：', datetime.datetime(2017,5,1,12,30),'\n------')
print('3、请输出时间：', datetime.datetime(2000,12,1),'\n------')

1、请输出当前时间： 2019-09-18 15:41:30.927489
------
2、请输出时间： 2017-05-01 12:30:00
------
3、请输出时间： 2000-12-01 00:00:00
------

# ：请创建时间变量‘2000年5月1日’，求出1000天之后是哪年哪月哪日？

In [18]:
t1 = datetime.datetime(2000,5,1)
print('结果为：',t1+datetime.timedelta(1000))

结果为： 2003-01-26 00:00:00

In [19]:
'''
【  Pandas时刻数据：Timestamp】

'''

'\n【  Pandas时刻数据：Timestamp】\n\n'

# ：请通过迭代创建一个时间列表（如图，时间区间为任意一个月，这里可以用for语句），然后转化成DatetimeIndex，并print月中是多少号

In [20]:
datelst = []
for i in range(1,32):
    datelst.append('2017-12-%i' %i)
print('创建时间列表为：\n',datelst,'\n------')
t = pd.to_datetime(datelst)
print('转化成DatetimeIndex为：\n',t,'\n------')
n = (len(t) + 1)/2 - 1
print('月中日期为：\n',t[int(n)],'\n------')

创建时间列表为：
 ['2017-12-1', '2017-12-2', '2017-12-3', '2017-12-4', '2017-12-5', '2017-12-6', '2017-12-7', '2017-12-8', '2017-12-9', '2017-12-10', '2017-12-11', '2017-12-12', '2017-12-13', '2017-12-14', '2017-12-15', '2017-12-16', '2017-12-17', '2017-12-18', '2017-12-19', '2017-12-20', '2017-12-21', '2017-12-22', '2017-12-23', '2017-12-24', '2017-12-25', '2017-12-26', '2017-12-27', '2017-12-28', '2017-12-29', '2017-12-30', '2017-12-31']
------
转化成DatetimeIndex为：
 DatetimeIndex(['2017-12-01', '2017-12-02', '2017-12-03', '2017-12-04',
               '2017-12-05', '2017-12-06', '2017-12-07', '2017-12-08',
               '2017-12-09', '2017-12-10', '2017-12-11', '2017-12-12',
               '2017-12-13', '2017-12-14', '2017-12-15', '2017-12-16',
               '2017-12-17', '2017-12-18', '2017-12-19', '2017-12-20',
               '2017-12-21', '2017-12-22', '2017-12-23', '2017-12-24',
               '2017-12-25', '2017-12-26', '2017-12-27', '2017-12-28',
               '2017-12-29', '2017-12-30', '2017-12-31'],
              dtype='datetime64[ns]', freq=None)
------
月中日期为：
 2017-12-16 00:00:00
------

In [21]:
'''
【  Pandas时间戳索引：DatetimeIndex】 

'''

'\n【  Pandas时间戳索引：DatetimeIndex】 \n\n'

# ：请输出以下时间序列

In [23]:
ts1 = pd.Series(np.random.rand(5),
                index = pd.date_range('20170101',periods = 5))
ts2 = pd.Series(np.random.rand(4),
                index = pd.date_range('2017','2018',freq = '3M'))
ts3 = pd.DataFrame(np.random.rand(4,4),
                   index = pd.date_range('20171201',periods = 4, freq = '10T'),
                  columns = ['value1','value2','value3','value4'])
print('时间序列1：\n',ts1,'\n------')
print('时间序列2：\n',ts2,'\n------')
print('时间序列3：\n',ts3,'\n------')

时间序列1：
 2017-01-01    0.860580
2017-01-02    0.533665
2017-01-03    0.437214
2017-01-04    0.233459
2017-01-05    0.514109
Freq: D, dtype: float64
------
时间序列2：
 2017-01-31    0.154407
2017-04-30    0.005119
2017-07-31    0.960245
2017-10-31    0.701142
Freq: 3M, dtype: float64
------
时间序列3：
                        value1    value2    value3    value4
2017-12-01 00:00:00  0.156208  0.826712  0.427514  0.811131
2017-12-01 00:10:00  0.625019  0.779864  0.538955  0.653150
2017-12-01 00:20:00  0.491102  0.306633  0.366439  0.355124
2017-12-01 00:30:00  0.073266  0.298386  0.774193  0.931468
------

# 按要求创建时间序列ts1，并转换成ts2

In [24]:
ts1 = pd.Series(np.random.rand(5),
               index = pd.date_range('20170501 12:0:0',periods = 5, freq = '10T'))
ts2 = ts1.asfreq('5T','ffill')
print('创建时间序列ts1：\n',ts1,'\n------')
print('转换成ts2：\n',ts2,'\n------')

创建时间序列ts1：
 2017-05-01 12:00:00    0.973626
2017-05-01 12:10:00    0.852481
2017-05-01 12:20:00    0.370043
2017-05-01 12:30:00    0.150179
2017-05-01 12:40:00    0.076036
Freq: 10T, dtype: float64
------
转换成ts2：
 2017-05-01 12:00:00    0.973626
2017-05-01 12:05:00    0.973626
2017-05-01 12:10:00    0.852481
2017-05-01 12:15:00    0.852481
2017-05-01 12:20:00    0.370043
2017-05-01 12:25:00    0.370043
2017-05-01 12:30:00    0.150179
2017-05-01 12:35:00    0.150179
2017-05-01 12:40:00    0.076036
Freq: 5T, dtype: float64
------

In [24]:
'''
【  Pandas时期：Period】 
'''

'\n【  Pandas时期：Period】 \n'

# 请输出以下时间序列，使用pd.period_range()

In [25]:
ts1 = pd.Series(np.random.rand(5),
                index = pd.period_range('20170101','20170501',freq = 'M'))
ts2 = pd.Series(np.random.rand(5),
                index = pd.period_range('20170101',periods = 5,freq = '2H'))
print('时间序列1：\n',ts1,'\n------')
print('时间序列2：\n',ts2,'\n------')

时间序列1：
 2017-01    0.464629
2017-02    0.634910
2017-03    0.326078
2017-04    0.608965
2017-05    0.901655
Freq: M, dtype: float64
------
时间序列2：
 2017-01-01 00:00    0.402236
2017-01-01 02:00    0.784207
2017-01-01 04:00    0.663316
2017-01-01 06:00    0.388906
2017-01-01 08:00    0.556842
Freq: 2H, dtype: float64
------

In [26]:
3128/60

52.13333333333333

In [27]:
'''
【时间序列 - 索引及切片】 

'''

'\n【时间序列 - 索引及切片】 \n\n'

# 如图创建时间序列(10*3，值为0-100的随机数)，通过索引得到以下值
# ① 索引得到前4行的所有值
# ② 索引得到2017-12-4 12:00:00的数据
# ③ 索引得到2017-12-4 - 2017-12-5的数据

In [28]:
import datetime
ts = pd.DataFrame(np.random.rand(10,3)*100,
                   index = pd.date_range('20171201',periods = 10, freq = '12H'),
                  columns = ['value1','value2','value3'])
print('创建时间序列为：\n',ts,'\n------')
print('前4行的所有值为:\n', ts[:3],'\n------')
print('2017-12-4 12:00:00的数据为:\n', ts.loc['2017-12-04 12:00:00'],'\n------')
print('2017-12-4 - 2017-12-5的数据为:\n', ts['20171204':'20171205'],'\n------')

创建时间序列为：
                         value1     value2     value3
2017-12-01 00:00:00  22.265918  76.490837  33.870950
2017-12-01 12:00:00   9.387585  68.998352  86.260905
2017-12-02 00:00:00  93.514742   6.389387   1.217619
2017-12-02 12:00:00  96.342869  30.732324  80.965165
2017-12-03 00:00:00  82.280931  63.332963   2.723204
2017-12-03 12:00:00  14.128607  48.020026  41.361583
2017-12-04 00:00:00  90.090390  63.406355   5.554871
2017-12-04 12:00:00  53.616563  54.188538  41.018215
2017-12-05 00:00:00  23.975581  34.327581  34.289217
2017-12-05 12:00:00  50.994338   2.195127  65.737927
------
前4行的所有值为:
                         value1     value2     value3
2017-12-01 00:00:00  22.265918  76.490837  33.870950
2017-12-01 12:00:00   9.387585  68.998352  86.260905
2017-12-02 00:00:00  93.514742   6.389387   1.217619
------
2017-12-4 12:00:00的数据为:
 value1    53.616563
value2    54.188538
value3    41.018215
Name: 2017-12-04 12:00:00, dtype: float64
------
2017-12-4 - 2017-12-5的数据为:
                         value1     value2     value3
2017-12-04 00:00:00  90.090390  63.406355   5.554871
2017-12-04 12:00:00  53.616563  54.188538  41.018215
2017-12-05 00:00:00  23.975581  34.327581  34.289217
2017-12-05 12:00:00  50.994338   2.195127  65.737927
------

In [29]:
'''
【 时间序列 - 重采样】 

'''

'\n【 时间序列 - 重采样】 \n\n'

# 按要求创建时间序列ts1，通过降采样和升采样，转换成ts2，ts3

In [31]:
ts1 = pd.Series(np.random.rand(10),
              index = pd.date_range('20170101',periods = 10, freq = 'D'))
ts2 = ts1.resample('3D').mean()
ts3 = ts1.resample('12H').ffill()
print('创建时间序列ts1：\n',ts1,'\n------')
print('转换成ts2：\n',ts2,'\n------')
print('转换成ts3：\n',ts3,'\n------')

创建时间序列ts1：
 2017-01-01    0.903366
2017-01-02    0.153869
2017-01-03    0.094142
2017-01-04    0.280434
2017-01-05    0.389818
2017-01-06    0.488965
2017-01-07    0.669254
2017-01-08    0.123634
2017-01-09    0.078356
2017-01-10    0.354962
Freq: D, dtype: float64
------
转换成ts2：
 2017-01-01    0.383792
2017-01-04    0.386406
2017-01-07    0.290415
2017-01-10    0.354962
Freq: 3D, dtype: float64
------
转换成ts3：
 2017-01-01 00:00:00    0.903366
2017-01-01 12:00:00    0.903366
2017-01-02 00:00:00    0.153869
2017-01-02 12:00:00    0.153869
2017-01-03 00:00:00    0.094142
2017-01-03 12:00:00    0.094142
2017-01-04 00:00:00    0.280434
2017-01-04 12:00:00    0.280434
2017-01-05 00:00:00    0.389818
2017-01-05 12:00:00    0.389818
2017-01-06 00:00:00    0.488965
2017-01-06 12:00:00    0.488965
2017-01-07 00:00:00    0.669254
2017-01-07 12:00:00    0.669254
2017-01-08 00:00:00    0.123634
2017-01-08 12:00:00    0.123634
2017-01-09 00:00:00    0.078356
2017-01-09 12:00:00    0.078356
2017-01-10 00:00:00    0.354962
Freq: 12H, dtype: float64
------

In [32]:
'''
数值计算和统计基础 

'''

'\n数值计算和统计基础 \n\n'

# 如图创建一个Dataframe（5*2，值为0-100的随机值），并分别计算key1和key2的均值、中位数、累积和

In [33]:
df = pd.DataFrame(np.random.rand(5,2)*100,
                 columns = ['key1','key2'])
print('创建Dataframe为：\n',df,'\n------')
df['key1'][2] = np.nan
df['key1_cumsum'] = df['key1'].cumsum()
df['key2_cumsum'] = df['key2'].cumsum()
print('df["key1"]的均值为：\n',df['key1'].mean(),'\n------')
print('df["key1"]的中位数为：\n',df['key1'].median(),'\n------')
print('df["key2"]的均值为：\n',df['key2'].mean(),'\n------')
print('df["key2"]的中位数为：\n',df['key2'].median(),'\n------')
print('df的累积和为：\n',df,'\n------')

创建Dataframe为：
         key1       key2
0  72.724992  66.134760
1  95.129398  51.426043
2  19.567538   6.374265
3  37.145137  15.734480
4  52.875421  67.324530
------
df["key1"]的均值为：
 64.4687371382523
------
df["key1"]的中位数为：
 62.800206691638806
------
df["key2"]的均值为：
 41.39881561361085
------
df["key2"]的中位数为：
 51.42604316419924
------
df的累积和为：
         key1       key2  key1_cumsum  key2_cumsum
0  72.724992  66.134760    72.724992    66.134760
1  95.129398  51.426043   167.854390   117.560803
2        NaN   6.374265          NaN   123.935068
3  37.145137  15.734480   204.999527   139.669548
4  52.875421  67.324530   257.874949   206.994078
------

# 写出一个输入元素直接生成数组的代码块，然后创建一个函数，该函数功能用于判断一个Series是否是唯一值数组，返回“是”和“不是”

In [34]:
def f(s):
    s2 = s.unique()
    if len(s) == len(s2):
        print('------\n该数组是唯一值数组')
    else:
        print('------\n该数组不是唯一值数组')

d = input('请随机输入一组元素，用逗号（英文符号）隔开：\n')
lst = d.split(',')
ds = pd.Series(lst)
f(ds)

请随机输入一组元素，用逗号（英文符号）隔开：
5,6,78

KeyboardInterrupt:

In [35]:
'''
【 文本数据】 

'''

'\n【 文本数据】 \n\n'

# ：如图创建一个Dataframe，并分别通过字符串常用方法得到3个Series：
# ① name字段首字母全部大写
# ② gender字段去除所有空格
# ③ score字段按照-拆分，分别是math，english，art三个学分

In [36]:
df = pd.DataFrame({'name':['jack','tom','Marry','zack','heheda'],
                  'gender':['M ','M','   F','  M ','  F'],
                  'score':['90-92-89','89-78-88','90-92-95','78-88-76','60-60-67']})
df['name'] = df['name'].str.capitalize()
df['gender'] = df['gender'].str.strip()
df['math'] = df['score'].str.split('-', expand=True)[0]
df['english'] = df['score'].str.split('-', expand=True)[0]
df['art'] = df['score'].str.split('-', expand=True)[0]
del df['score']
print('创建Dataframe为：\n',df,'\n------')
print('修改后为：\n',df,'\n------')

创建Dataframe为：
      name gender math english art
0    Jack      M   90      90  90
1     Tom      M   89      89  89
2   Marry      F   90      90  90
3    Zack      M   78      78  78
4  Heheda      F   60      60  60
------
修改后为：
      name gender math english art
0    Jack      M   90      90  90
1     Tom      M   89      89  89
2   Marry      F   90      90  90
3    Zack      M   78      78  78
4  Heheda      F   60      60  60
------

In [37]:
'''
【合并 merge、join】 

'''

'\n【合并 merge、join】 \n\n'

In [38]:
# 按要求创建Dataframe df1、df2，并合并成df3

In [39]:
df1 = pd.DataFrame({'key':['a','b','c'],
                   'values1':np.random.rand(3)})
df2 = pd.DataFrame({'key':['b','c','d'],
                   'values2':np.random.rand(3)})
df3 = pd.merge(df1,df2,on='key',how='outer')

print('创建df1为：\n',df1,'\n------')
print('创建df2为：\n',df2,'\n------')
print('合并df3为：\n',df3,'\n------')

创建df1为：
   key   values1
0   a  0.739786
1   b  0.924345
2   c  0.539847
------
创建df2为：
   key   values2
0   b  0.109287
1   c  0.753430
2   d  0.489432
------
合并df3为：
   key   values1   values2
0   a  0.739786       NaN
1   b  0.924345  0.109287
2   c  0.539847  0.753430
3   d       NaN  0.489432
------

# 按要求创建Dataframe df1、df2，并合并成df3

In [40]:
df1 = pd.DataFrame({'lkey':['a','b','c'],
                   'values1':np.random.rand(3)})
df2 = pd.DataFrame({'rkey':['b','c','d'],
                   'values2':np.random.rand(3)})
df3 = pd.merge(df1,df2,left_on='lkey',right_on='rkey',how='left')

print('创建df1为：\n',df1,'\n------')
print('创建df2为：\n',df2,'\n------')
print('合并df3为：\n',df3,'\n------')

创建df1为：
   lkey   values1
0    a  0.457702
1    b  0.161071
2    c  0.368612
------
创建df2为：
   rkey   values2
0    b  0.860518
1    c  0.513863
2    d  0.089463
------
合并df3为：
   lkey   values1 rkey   values2
0    a  0.457702  NaN       NaN
1    b  0.161071    b  0.860518
2    c  0.368612    c  0.513863
------

# 按要求创建Dataframe df1、df2，并合并成df3

In [41]:
df1 = pd.DataFrame({'key':['a','b','c'],
                   'values1':np.random.rand(3)})
df2 = pd.DataFrame({'values2':np.random.rand(3),
                   'values3':[5,6,7]},
                  index = ['b','c','d'])
df3 = pd.merge(df1,df2,left_on='key',right_index=True)

print('创建df1为：\n',df1,'\n------')
print('创建df2为：\n',df2,'\n------')
print('合并df3为：\n',df3,'\n------')

创建df1为：
   key   values1
0   a  0.672253
1   b  0.611379
2   c  0.157759
------
创建df2为：
     values2  values3
b  0.597033        5
c  0.784102        6
d  0.875787        7
------
合并df3为：
   key   values1   values2  values3
1   b  0.611379  0.597033        5
2   c  0.157759  0.784102        6
------

In [42]:
'''
【 连接与修补 concat、combine_first】 

'''

'\n【 连接与修补 concat、combine_first】 \n\n'

In [43]:
# 按要求创建Dataframe df1、df2，并连接成df3

df1 = pd.DataFrame(np.random.rand(4,2),
                  index = list('abcd'),
                  columns = ['values1','values2'])
df2 = pd.DataFrame(np.random.rand(4,2),
                  index = list('efgh'),
                  columns = ['values1','values2'])
df3 = pd.concat([df1,df2])

print('创建df1为：\n',df1,'\n------')
print('创建df2为：\n',df2,'\n------')
print('连接df3为：\n',df3,'\n------')

创建df1为：
     values1   values2
a  0.976817  0.389212
b  0.481731  0.330485
c  0.225249  0.495429
d  0.018235  0.413106
------
创建df2为：
     values1   values2
e  0.066745  0.106484
f  0.694547  0.183745
g  0.061422  0.339254
h  0.257750  0.399718
------
连接df3为：
     values1   values2
a  0.976817  0.389212
b  0.481731  0.330485
c  0.225249  0.495429
d  0.018235  0.413106
e  0.066745  0.106484
f  0.694547  0.183745
g  0.061422  0.339254
h  0.257750  0.399718
------

# 按要求创建Dataframe df1、df2，并用df2的值修补df1，生成df3

In [44]:
df1 = pd.DataFrame(np.random.rand(4,2),
                  index = list('abcd'),
                  columns = ['values1','values2'])
df1['values1'].loc[['b','c']] = np.nan
df2 = pd.DataFrame(np.arange(8).reshape(4,2),
                  index = list('abcd'),
                  columns = ['values1','values2'])
df3 = df1.combine_first(df2)

print('创建df1为：\n',df1,'\n------')
print('创建df2为：\n',df2,'\n------')
print('df1修补后为：\n',df3,'\n------')

创建df1为：
     values1   values2
a  0.873063  0.403104
b       NaN  0.557227
c       NaN  0.063219
d  0.559253  0.082608
------
创建df2为：
    values1  values2
a        0        1
b        2        3
c        4        5
d        6        7
------
df1修补后为：
     values1   values2
a  0.873063  0.403104
b  2.000000  0.557227
c  4.000000  0.063219
d  0.559253  0.082608
------

In [45]:
'''
【数据分组】 

'''

'\n【数据分组】 \n\n'

In [ ]:
# 按要求创建Dataframe df1、df2，并连接成df3

In [46]:
df1 = pd.DataFrame(np.random.rand(4,2),
                  index = list('abcd'),
                  columns = ['values1','values2'])
df2 = pd.DataFrame(np.random.rand(4,2),
                  index = list('efgh'),
                  columns = ['values1','values2'])
df3 = pd.concat([df1,df2])

print('创建df1为：\n',df1,'\n------')
print('创建df2为：\n',df2,'\n------')
print('连接df3为：\n',df3,'\n------')

创建df1为：
     values1   values2
a  0.522313  0.524634
b  0.970575  0.315711
c  0.845073  0.389301
d  0.164387  0.390031
------
创建df2为：
     values1   values2
e  0.664568  0.797096
f  0.675821  0.987407
g  0.499303  0.518145
h  0.147596  0.078960
------
连接df3为：
     values1   values2
a  0.522313  0.524634
b  0.970575  0.315711
c  0.845073  0.389301
d  0.164387  0.390031
e  0.664568  0.797096
f  0.675821  0.987407
g  0.499303  0.518145
h  0.147596  0.078960
------

In [48]:
'''【 数据分组】 
'''

'【 数据分组】 \n'

# ：按要求创建Dataframe df，并通过分组得到以下结果
# ① 以A分组，求出C,D的分组平均值
# ② 以A,B分组，求出D,E的分组求和
# ③ 以A分组，得到所有分组，以字典显示
# ④ 按照数值类型分组，求和
# ⑤ 将C,D作为一组分出来，并计算求和
# ⑥ 以B分组，求出每组的均值，求和，最大值，最小值

In [57]:
df = pd.DataFrame({'A' : ['one', 'two', 'three', 'one','two', 'three', 'one', 'two'],
                   'B' : ['h', 'h', 'h', 'h', 'f', 'f', 'f', 'f'],
                   'C' : np.arange(10,26,2),
                   'D' : np.random.randn(8),
                   'E':np.random.rand(8)})


print('创建df为：\n',df,'\n------')
print('以A分组，求出C,D的分组平均值为：\n',df.groupby('A').mean(),'\n------')
print('以A,B分组，求出D,E的分组求和为：\n',df.groupby(['A','B']).sum(),'\n------')
print('以A分组，筛选出分组后的第一组数据为：\n',df.groupby('A').groups,'\n------')
print('按照数值类型分组为：\n',df.groupby(df.dtypes,axis=1).sum(),'\n------')
print('将C,D作为一组分出来，并计算求和为：\n',df.groupby({'C':'r','D':'r'},axis=1).sum(),'\n------')
print('以B分组，求出每组的均值，求和，最大值，最小值：\n',df.groupby('B').agg([np.mean,np.sum,np.max,np.min]),'\n------')

创建df为：
        A  B   C         D         E
0    one  h  10  1.900227  0.704206
1    two  h  12  0.709056  0.957550
2  three  h  14 -0.134636  0.767675
3    one  h  16 -1.839037  0.711887
4    two  f  18 -1.018118  0.499661
5  three  f  20 -0.532871  0.082554
6    one  f  22  1.967458  0.945361
7    two  f  24 -1.601070  0.037301
------
以A分组，求出C,D的分组平均值为：
         C         D         E
A
one    16  0.676216  0.787151
three  17 -0.333753  0.425115
two    18 -0.636710  0.498171
------
以A,B分组，求出D,E的分组求和为：
           C         D         E
A     B
one   f  22  1.967458  0.945361
      h  26  0.061190  1.416093
three f  20 -0.532871  0.082554
      h  14 -0.134636  0.767675
two   f  42 -2.619187  0.536962
      h  12  0.709056  0.957550
------
以A分组，筛选出分组后的第一组数据为：
 {'one': Int64Index([0, 3, 6], dtype='int64'), 'three': Int64Index([2, 5], dtype='int64'), 'two': Int64Index([1, 4, 7], dtype='int64')}
------
按照数值类型分组为：
    int32   float64  object
0     10  2.604433    oneh
1     12  1.666606    twoh
2     14  0.633040  threeh
3     16 -1.127150    oneh
4     18 -0.518457    twof
5     20 -0.450317  threef
6     22  2.912818    onef
7     24 -1.563769    twof
------
将C,D作为一组分出来，并计算求和为：
            r
0  11.900227
1  12.709056
2  13.865364
3  14.160963
4  16.981882
5  19.467129
6  23.967458
7  22.398930
------
以B分组，求出每组的均值，求和，最大值，最小值：
      C                       D                                       E  \
  mean sum amax amin      mean       sum      amax      amin      mean
B
f   21  84   24   18 -0.296150 -1.184601  1.967458 -1.601070  0.391219
h   13  52   16   10  0.158903  0.635611  1.900227 -1.839037  0.785330


        sum      amax      amin
B
f  1.564877  0.945361  0.037301
h  3.141318  0.957550  0.704206
------

In [59]:
'''
【.20  分组转换及一般性“拆分-应用-合并”】 

'''

'\n【.20  分组转换及一般性“拆分-应用-合并”】 \n\n'

In [30]:
# 作业1：按要求创建Dataframe df，通过key分组求和，并将求和结果并在原df中

df = pd.DataFrame({'data1':np.random.rand(8),
                  'data2':np.random.rand(8),
                  'key':list('aabbabab')})

print('创建df为：\n',df,'\n------')
df_ = df.groupby('key').transform(np.mean)
print('求和且合并之后结果为：\n',df.join(df_,rsuffix='_mean'),'\n------')

创建df为：
       data1     data2 key
0  0.298507  0.481976   a
1  0.761940  0.472252   a
2  0.639491  0.964618   b
3  0.238919  0.756300   b
4  0.231337  0.617190   a
5  0.681743  0.906671   b
6  0.601592  0.798819   a
7  0.071703  0.109292   b
------
求和且合并之后结果为：
       data1     data2 key  data1_mean  data2_mean
0  0.298507  0.481976   a    0.473344    0.592559
1  0.761940  0.472252   a    0.473344    0.592559
2  0.639491  0.964618   b    0.407964    0.684220
3  0.238919  0.756300   b    0.407964    0.684220
4  0.231337  0.617190   a    0.473344    0.592559
5  0.681743  0.906671   b    0.407964    0.684220
6  0.601592  0.798819   a    0.473344    0.592559
7  0.071703  0.109292   b    0.407964    0.684220
------

In [ ]:
'''
【课程2.21  透视表及交叉表】 课程作业

'''

In [32]:
# 作业1：按要求创建Dataframe df，并通过数据透视表得到以下结果
# ① 以A列聚合，求出C,D的平均值
# ② 以A,B列聚合，求出D,E的均值、求和
# ③ 以B聚合，计算A列的元素频率

df = pd.DataFrame({'A' : ['one', 'two', 'three', 'one','two', 'three', 'one', 'two'],
                   'B' : ['h', 'h', 'h', 'h', 'f', 'f', 'f', 'f'],
                   'C' : np.arange(10,26,2),
                   'D' : np.random.randn(8),
                   'E':np.random.rand(8)})


print('创建df为：\n',df,'\n------')
print('以A列聚合，求出C,D的平均值为：\n',pd.pivot_table(df,values=['C','D'],index='A',aggfunc=np.mean),'\n------')
print('以A,B列聚合，求出D,E的均值、求和为：\n',pd.pivot_table(df,values=['D','E'],index=['A','B'],aggfunc=[np.mean,np.sum]),'\n------')
print('以B聚合，计算A列的元素频率为：\n',pd.crosstab(df['B'],df['A']),'\n------')

创建df为：
        A  B   C         D         E
0    one  h  10  0.456511  0.713847
1    two  h  12 -1.807333  0.852110
2  three  h  14  0.526257  0.942896
3    one  h  16 -0.796059  0.015267
4    two  f  18  0.819476  0.838997
5  three  f  20 -0.185152  0.814255
6    one  f  22 -0.736728  0.856365
7    two  f  24  1.318259  0.194405
------
以A列聚合，求出C,D的平均值为：
         C         D
A
one    16 -0.358759
three  17  0.170552
two    18  0.110134
------
以A,B列聚合，求出D,E的均值、求和为：
              mean                 sum
                D         E         D         E
A     B
one   f -0.736728  0.856365 -0.736728  0.856365
      h -0.169774  0.364557 -0.339548  0.729114
three f -0.185152  0.814255 -0.185152  0.814255
      h  0.526257  0.942896  0.526257  0.942896
two   f  1.068867  0.516701  2.137735  1.033402
      h -1.807333  0.852110 -1.807333  0.852110
------
以B聚合，计算A列的元素频率为：
 A  one  three  two
B
f    1      1    2
h    2      1    1
------