**作业题：**
1. 计算2017年4月销量Top10的商品以及商品类别。
2. 计算2017年4月销量Top10的商品以及商品类别在2017年1月的销量情况。
3. 计算2017年4月销量Top10的商品以及商品类别在2016年4月的销量情况。

**题目说明：**
- 销量 = Qty


**业务背景：**
- 一般影响整体业绩的往往会是一些头部商品，如果发现总体指标变动较大时，首先需要去看头部商品的变动。

**计算逻辑说明：**
1.	先计算4月销量Top10商品，然后计算2017年1月、以及2016年4月每种商品的销量，然后进行链接（相当于Vlookup），就能算出本月销量Top10商品在其他月份的销量情况。

# 导入相关库

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from dateutil.parser import parse
plt.rcParams["font.sans-serif"]='SimHei'#解决中文乱码
plt.rcParams['axes.unicode_minus'] = False#解决负号无法正常显示的问题

# 导入数据

In [2]:
data_2017 = pd.read_csv(r"2017年1月&2017年4月数据.csv",parse_dates = ["STime"])
data_2017.head()

,GoodsID,CateID,Cost,Price,Qty,shopID,SDate,STime,SheetID,CashValue
0,30006206,915000003,20.673643,25.23,0.328,CDLG,20170103,2017-01-03 09:56:55,20170103CDLG000210052759,56.453
1,30163281,914010000,1.724210,2.00,2.000,CDLG,20170103,2017-01-03 09:56:55,20170103CDLG000210052759,56.453
2,30200518,922000000,16.344857,19.62,0.230,CDLG,20170103,2017-01-03 09:56:55,20170103CDLG000210052759,56.453
3,29989105,922000000,1.971475,2.80,2.044,CDLG,20170103,2017-01-03 09:56:55,20170103CDLG000210052759,56.453
4,30179558,915000100,34.219740,47.41,0.226,CDLG,20170103,2017-01-03 09:56:55,20170103CDLG000210052759,56.453

In [3]:
data_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 897232 entries, 0 to 897231
Data columns (total 10 columns):
GoodsID      897232 non-null int64
CateID       897232 non-null int64
Cost         896550 non-null float64
Price        897232 non-null float64
Qty          897232 non-null float64
shopID       897232 non-null object
SDate        897232 non-null int64
STime        897232 non-null datetime64[ns]
SheetID      897232 non-null object
CashValue    897232 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(2)
memory usage: 68.5+ MB

In [4]:
data_2016 = pd.read_csv(r"2016年1月&20164月数据.csv",parse_dates = ["STime"])
data_2016.head()

,GoodsID,CateID,Cost,Price,Qty,shopID,SDate,STime,SheetID,CashValue
0,29989301,925090000,17.048322,17.59,0.522,CDLG,20160101,2016-01-01 07:02:01,20160101CDLGP00110000001,44.321
1,29989287,925090000,0.000000,28.02,0.809,CDLG,20160101,2016-01-01 07:02:01,20160101CDLGP00110000001,44.321
2,29989302,925090000,26.800070,27.65,0.451,CDLG,20160101,2016-01-01 07:02:01,20160101CDLGP00110000001,44.321
3,30144186,912060303,49.620000,49.62,0.318,CDLG,20160101,2016-01-01 07:03:14,20160101CDLGP00110000002,15.779
4,29989073,922000201,2.314974,3.61,0.326,CDLG,20160101,2016-01-01 07:04:05,20160101CDLGP00110000003,4.715

In [5]:
data_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1116447 entries, 0 to 1116446
Data columns (total 10 columns):
GoodsID      1116447 non-null int64
CateID       1116447 non-null int64
Cost         1114288 non-null float64
Price        1116447 non-null float64
Qty          1116447 non-null float64
shopID       1116447 non-null object
SDate        1116447 non-null int64
STime        1116447 non-null datetime64[ns]
SheetID      1116447 non-null object
CashValue    1116447 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(2)
memory usage: 85.2+ MB

In [6]:
data_2016.drop_duplicates().shape

(1067302, 10)

In [7]:
data_2017.drop_duplicates().shape

(855620, 10)

In [8]:
data_2016 = data_2016.drop_duplicates()
data_2017 = data_2017.drop_duplicates()

In [9]:
data_2016.shape

(1067302, 10)

In [10]:
data_2017.shape

(855620, 10)

# 数据预处理

In [11]:
data_2016["date"] = [parse(str(time)) for time in data_2016["SDate"]]
data_2017["date"] = [parse(str(time)) for time in data_2017["SDate"]]

In [12]:
data_2016["月份"] = [time.month for time in data_2016["date"]]
data_2017["月份"] = [time.month for time in data_2017["date"]]

In [13]:
data_2017["月份"].unique()

array([1, 4], dtype=int64)

In [14]:
data_2016["月份"].unique()

array([1, 4], dtype=int64)

# 分商品数据

In [15]:
April_data = data_2017[data_2017["月份"] == 4]

In [16]:
March_data = data_2017[data_2017["月份"] == 1]

In [17]:
L_April_data = data_2016[data_2016["月份"] == 4]

In [18]:
#2017年4月销量Top10的商品
goods_sale_A = April_data.groupby("GoodsID")["Qty"].sum()
df_A = pd.DataFrame(goods_sale_A.sort_values(ascending = False).head(10))
df_A

                Qty
GoodsID
30022232  14563.000
29989058  11469.412
29989072   9690.479
29989105   8143.704
29989165   7184.727
30031738   6412.585
29989071   5714.737
29989157   5156.363
29989143   5156.125
30023197   4855.681

In [19]:
#2017年3月不同商品的销量
goods_sale_M = March_data.groupby("GoodsID")["Qty"].sum()
df_M = pd.DataFrame(goods_sale_M)
df_M.head()

          Qty
GoodsID
29988816  4.0
29988819  5.0
29988832  1.0
29988835  1.0
29988836  1.0

In [20]:
#计算17年4月销量Top10的商品在17年3月的销量情况
df_AM = pd.merge(df_A,df_M,left_index = True,right_index = True)
df_AM["差"] = df_AM["Qty_x"] - df_AM["Qty_y"]
df_AM

              Qty_x      Qty_y         差
GoodsID
30022232  14563.000  20861.000 -6298.000
29989058  11469.412   9339.493  2129.919
29989072   9690.479   6736.953  2953.526
29989105   8143.704   6813.195  1330.509
29989165   7184.727   7846.307  -661.580
30031738   6412.585   4583.126  1829.459
29989071   5714.737   3927.380  1787.357
29989157   5156.363   5011.738   144.625
29989143   5156.125   5757.891  -601.766
30023197   4855.681   1001.847  3853.834

In [21]:
#2016年4月不同商品的销量
goods_sale_L = L_April_data.groupby("GoodsID")["Qty"].sum()
df_L_M = pd.DataFrame(goods_sale_L)
df_L_M.head(10)

           Qty
GoodsID
29988816   2.0
29988832   2.0
29988836   1.0
29988840   3.0
29988847  12.0
29988848  11.0
29988850   8.0
29988852  27.0
29988853   5.0
29988879  12.0

In [22]:
#计算17年4月销量Top10的商品在16年4月的销量情况
df_AL = pd.merge(df_A,df_L_M,left_index = True,right_index = True)
df_AL["差"] = df_AL["Qty_x"] - df_AL["Qty_y"]
df_AL

              Qty_x      Qty_y         差
GoodsID
30022232  14563.000  19093.000 -4530.000
29989058  11469.412  16274.764 -4805.352
29989072   9690.479   6626.036  3064.443
29989105   8143.704   8518.765  -375.061
29989165   7184.727  10879.545 -3694.818
30031738   6412.585   4158.876  2253.709
29989071   5714.737   3096.030  2618.707
29989157   5156.363   7370.665 -2214.302
29989143   5156.125   5051.006   105.119
30023197   4855.681   1912.356  2943.325

# 分类别数据

In [23]:
#2017年4月销量Top10的品类
cate_sale_A = April_data.groupby("CateID")["Qty"].sum()
df_A = pd.DataFrame(cate_sale_A.sort_values(ascending = False).head(10))
df_A

                 Qty
CateID
923000006  26650.431
922000001  24624.795
922000002  24339.321
922000000  17149.804
960000000  16322.000
915030101  14554.538
923000000  13846.122
910030000  12813.000
922000003  12122.704
915030104   9660.681

In [24]:
#2017年3月不同类别的销量
cate_sale_M = March_data.groupby("CateID")["Qty"].sum()
df_M = pd.DataFrame(cate_sale_M)
df_M.head(10)

              Qty
CateID
910000000  1508.0
910000001    81.0
910000004    68.0
910000100    14.0
910010000   754.0
910010001    24.0
910010002    66.0
910010100   283.0
910010101    34.0
910010102    90.0

In [25]:
#计算17年4月销量Top10的品类在17年3月的销量情况
df_AM = pd.merge(df_A,df_M,left_index = True,right_index = True)
df_AM["差"] = df_AM["Qty_x"] - df_AM["Qty_y"]
df_AM

               Qty_x      Qty_y          差
CateID
923000006  26650.431  24756.100   1894.331
922000001  24624.795  24930.026   -305.231
922000002  24339.321  25609.600  -1270.279
922000000  17149.804  13388.274   3761.530
960000000  16322.000  22962.000  -6640.000
915030101  14554.538  14920.036   -365.498
923000000  13846.122  16214.801  -2368.679
910030000  12813.000  13286.000   -473.000
922000003  12122.704  23699.093 -11576.389
915030104   9660.681   8407.602   1253.079

In [26]:
#2016年4月不同品类的销量
cate_sale_L = L_April_data.groupby("CateID")["Qty"].sum()
df_L_M = pd.DataFrame(cate_sale_L)
df_L_M.head(10)

              Qty
CateID
910000000  1446.0
910000001    81.0
910000100    24.0
910010000  1047.0
910010001     3.0
910010002   124.0
910010100    53.0
910010101     9.0
910010102   151.0
910010104     1.0

In [27]:
#计算17年4月销量Top10的商品在16年4月的销量情况
df_AL = pd.merge(df_A,df_L_M,left_index = True,right_index = True)
df_AL["差"] = df_AL["Qty_x"] - df_AL["Qty_y"]
df_AL

               Qty_x      Qty_y          差
CateID
923000006  26650.431  40411.915 -13761.484
922000001  24624.795   3580.688  21044.107
922000000  17149.804     59.287  17090.517
960000000  16322.000  21933.000  -5611.000
915030101  14554.538  23367.371  -8812.833
923000000  13846.122  24832.640 -10986.518
910030000  12813.000  12710.000    103.000
915030104   9660.681  19489.435  -9828.754