**作业题：**
1.	计算2017年4月不同门店的销售额、客流量、客单价
2.	计算2017年4月不同门店的的同比销售额、客流量、客单价
3.	计算2017年4月不同门店的的环比销售额、客流量、客单价

**题目说明：**
- 销售额 = 售价 乘 销量 = ["Price"] 乘 ["Qty"]
- 客流量 = 订单量（客流量用订单量代替）
- 客单价 = 销售额/客流量

**业务背景：**
- 通过第一节我们已经判断出了17年4月各指标发展情况的好坏，作为数据分析师，不管业务出现好或者坏，都要去追寻为什么？在追寻为什么的时候，就可以结合业务具体去看是因为哪方面的变化，引起了某一段时间内整体指标的变化。

- 这一节选择分门店维度去看一下17年4月各指标的变化情况。


**计算逻辑说明：**
1.	先把不同门店的数据筛选出来，然后计算不同门店在不同时间的指标情况。

# 导入相关库

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from dateutil.parser import parse
plt.rcParams["font.sans-serif"]='SimHei'#解决中文乱码
plt.rcParams['axes.unicode_minus'] = False#解决负号无法正常显示的问题

# 导入数据

In [2]:
data_2017 = pd.read_csv(r"2017年1月&2017年4月数据.csv",parse_dates = ["STime"])
data_2017.head()

,GoodsID,CateID,Cost,Price,Qty,shopID,SDate,STime,SheetID,CashValue
0,30006206,915000003,20.673643,25.23,0.328,CDLG,20170103,2017-01-03 09:56:55,20170103CDLG000210052759,56.453
1,30163281,914010000,1.724210,2.00,2.000,CDLG,20170103,2017-01-03 09:56:55,20170103CDLG000210052759,56.453
2,30200518,922000000,16.344857,19.62,0.230,CDLG,20170103,2017-01-03 09:56:55,20170103CDLG000210052759,56.453
3,29989105,922000000,1.971475,2.80,2.044,CDLG,20170103,2017-01-03 09:56:55,20170103CDLG000210052759,56.453
4,30179558,915000100,34.219740,47.41,0.226,CDLG,20170103,2017-01-03 09:56:55,20170103CDLG000210052759,56.453

In [3]:
data_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 897232 entries, 0 to 897231
Data columns (total 10 columns):
GoodsID      897232 non-null int64
CateID       897232 non-null int64
Cost         896550 non-null float64
Price        897232 non-null float64
Qty          897232 non-null float64
shopID       897232 non-null object
SDate        897232 non-null int64
STime        897232 non-null datetime64[ns]
SheetID      897232 non-null object
CashValue    897232 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(2)
memory usage: 68.5+ MB

In [4]:
data_2016 = pd.read_csv(r"2016年1月&20164月数据.csv",parse_dates = ["STime"])
data_2016.head()

,GoodsID,CateID,Cost,Price,Qty,shopID,SDate,STime,SheetID,CashValue
0,29989301,925090000,17.048322,17.59,0.522,CDLG,20160101,2016-01-01 07:02:01,20160101CDLGP00110000001,44.321
1,29989287,925090000,0.000000,28.02,0.809,CDLG,20160101,2016-01-01 07:02:01,20160101CDLGP00110000001,44.321
2,29989302,925090000,26.800070,27.65,0.451,CDLG,20160101,2016-01-01 07:02:01,20160101CDLGP00110000001,44.321
3,30144186,912060303,49.620000,49.62,0.318,CDLG,20160101,2016-01-01 07:03:14,20160101CDLGP00110000002,15.779
4,29989073,922000201,2.314974,3.61,0.326,CDLG,20160101,2016-01-01 07:04:05,20160101CDLGP00110000003,4.715

In [5]:
data_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1116447 entries, 0 to 1116446
Data columns (total 10 columns):
GoodsID      1116447 non-null int64
CateID       1116447 non-null int64
Cost         1114288 non-null float64
Price        1116447 non-null float64
Qty          1116447 non-null float64
shopID       1116447 non-null object
SDate        1116447 non-null int64
STime        1116447 non-null datetime64[ns]
SheetID      1116447 non-null object
CashValue    1116447 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(2)
memory usage: 85.2+ MB

In [6]:
data_2016.drop_duplicates().shape

(1067302, 10)

In [7]:
data_2017.drop_duplicates().shape

(855620, 10)

In [8]:
data_2016 = data_2016.drop_duplicates()
data_2017 = data_2017.drop_duplicates()

In [9]:
data_2016.shape

(1067302, 10)

In [10]:
data_2017.shape

(855620, 10)

# 数据预处理

In [11]:
data_2016["date"] = [parse(str(time)) for time in data_2016["SDate"]]
data_2017["date"] = [parse(str(time)) for time in data_2017["SDate"]]

In [12]:
data_2016["月份"] = [time.month for time in data_2016["date"]]
data_2017["月份"] = [time.month for time in data_2017["date"]]

In [13]:
data_2017["月份"].unique()

array([1, 4], dtype=int64)

In [14]:
data_2016["月份"].unique()

array([1, 4], dtype=int64)

# 报表制作

In [15]:
data_2017["sale_sum"] = data_2017["Price"] * data_2017["Qty"]
data_2016["sale_sum"] = data_2016["Price"] * data_2016["Qty"]

## 本月累计数据计算

In [16]:
April_data = data_2017[data_2017["date"]>=parse("2017-04-01")]
April_data.head()

,GoodsID,CateID,Cost,Price,Qty,shopID,SDate,STime,SheetID,CashValue,date,月份,sale_sum
493644,30089347,910030000,2.370000,2.62,7.000,CDLG,20170405,2017-04-05 18:20:35,20170405CDLG000310112461,18.340,2017-04-05,4,18.34000
493645,30020269,923000101,7.636254,10.80,1.064,CDLG,20170405,2017-04-05 18:20:57,20170405CDLG000310112462,11.496,2017-04-05,4,11.49120
493646,30006266,914100000,9.020000,9.12,1.000,CDLG,20170405,2017-04-05 18:21:43,20170405CDLG000310112463,35.200,2017-04-05,4,9.12000
493647,30166320,936010000,5.208750,6.52,1.000,CDLG,20170405,2017-04-05 18:21:43,20170405CDLG000310112463,35.200,2017-04-05,4,6.52000
493651,29989058,922000001,0.525031,0.58,2.414,CDLG,20170405,2017-04-05 18:22:22,20170405CDLG000310112464,47.322,2017-04-05,4,1.40012

In [24]:
#四月分门店累计销售额
sale_sum = April_data.groupby(["shopID"])["sale_sum"].sum()
sale_sum

shopID
CDLG    1.310529e+06
WDGC    1.730667e+06
Name: sale_sum, dtype: float64

In [25]:
#四月分门店累计客流
traffic_sum = April_data.groupby(["shopID"])["SheetID"].count()
traffic_sum

shopID
CDLG    162087
WDGC    223868
Name: SheetID, dtype: int64

In [26]:
#四月分门店累计客单价
Customer_price = sale_sum/traffic_sum
Customer_price

shopID
CDLG    8.085341
WDGC    7.730746
dtype: float64

## 上月同期计算

In [27]:
March_data = data_2017[(data_2017["date"]>=parse("2017-01-01"))&(data_2017["date"]<=parse("2017-01-31"))]
March_data.head()

,GoodsID,CateID,Cost,Price,Qty,shopID,SDate,STime,SheetID,CashValue,date,月份,sale_sum
0,30006206,915000003,20.673643,25.23,0.328,CDLG,20170103,2017-01-03 09:56:55,20170103CDLG000210052759,56.453,2017-01-03,1,8.27544
1,30163281,914010000,1.724210,2.00,2.000,CDLG,20170103,2017-01-03 09:56:55,20170103CDLG000210052759,56.453,2017-01-03,1,4.00000
2,30200518,922000000,16.344857,19.62,0.230,CDLG,20170103,2017-01-03 09:56:55,20170103CDLG000210052759,56.453,2017-01-03,1,4.51260
3,29989105,922000000,1.971475,2.80,2.044,CDLG,20170103,2017-01-03 09:56:55,20170103CDLG000210052759,56.453,2017-01-03,1,5.72320
4,30179558,915000100,34.219740,47.41,0.226,CDLG,20170103,2017-01-03 09:56:55,20170103CDLG000210052759,56.453,2017-01-03,1,10.71466

In [28]:
#一月分门店累计销售额
sale_sum_1 = March_data.groupby(["shopID"])["sale_sum"].sum()
sale_sum_1

shopID
CDLG    1.874604e+06
WDGC    2.800292e+06
Name: sale_sum, dtype: float64

In [29]:
#一月分门店累计客流用订单量代替
traffic_sum_1 = March_data.groupby(["shopID"])["SheetID"].count()
traffic_sum_1

shopID
CDLG    192636
WDGC    277029
Name: SheetID, dtype: int64

In [30]:
#一月分门店累计客单价
Customer_price_1 = sale_sum_1/traffic_sum_1
Customer_price_1

shopID
CDLG     9.731327
WDGC    10.108299
dtype: float64

## 去年同期计算

In [31]:
last_April = data_2016[(data_2016["date"]>=parse("2016-04-01"))]
last_April.head()

,GoodsID,CateID,Cost,Price,Qty,shopID,SDate,STime,SheetID,CashValue,date,月份,sale_sum
470587,29989076,922000201,5.071292,5.61,0.551,CDLG,20160401,2016-04-01 07:27:53,20160401CDLGP00110000001,39.249,2016-04-01,4,3.09111
470588,29989099,922000201,5.020101,6.21,0.334,CDLG,20160401,2016-04-01 07:27:53,20160401CDLGP00110000001,39.249,2016-04-01,4,2.07414
470589,29989058,922000201,2.706399,3.60,1.256,CDLG,20160401,2016-04-01 07:27:53,20160401CDLGP00110000001,39.249,2016-04-01,4,4.52160
470590,30023041,923000006,3.322512,3.60,1.306,CDLG,20160401,2016-04-01 07:27:53,20160401CDLGP00110000001,39.249,2016-04-01,4,4.70160
470591,30151329,924000000,0.960027,1.00,14.600,CDLG,20160401,2016-04-01 07:27:53,20160401CDLGP00110000001,39.249,2016-04-01,4,14.60000

In [32]:
#去年同期分门店累计销售额
sale_sum_last = last_April.groupby(["shopID"])["sale_sum"].sum()
sale_sum_last

shopID
CDLG    1.635524e+06
WDGC    2.232196e+06
Name: sale_sum, dtype: float64

In [33]:
#去年同期分门店累计客流用订单量代替
traffic_sum_last = last_April.groupby(["shopID"])["SheetID"].count()
traffic_sum_last

shopID
CDLG    194923
WDGC    280614
Name: SheetID, dtype: int64

In [34]:
#去年同期分门店客单价
Customer_price_last = sale_sum_last/traffic_sum_last
Customer_price_last

shopID
CDLG    8.390615
WDGC    7.954686
dtype: float64